upload/AI Executive Assistant.json
{ "name": "AI Executive Assistant", "nodes": [ { "parameters": { "updates": [ "message" ] }, "id": "telegram-trigger", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1, "position": [ 200, 300 ], "credentials": { "telegramApi": { "id": "telegram_api", "name": "Telegram API" } } }, { "parameters": { "jsCode": "const update = $input.first().json;\nconst msg = update.message || {};\n\nreturn [{\n json: {\n telegram_chat_id: String(msg.chat?.id || ''),\n telegram_message_id: String(msg.message_id || ''),\n text: msg.text || '',\n raw_text: msg.text || '',\n source_type: msg.voice ? 'voice' : 'text',\n has_voice: !!msg.voice,\n voice_file_id: msg.voice?.file_id || null\n }\n}];" }, "id": "extract-message", "name": "Extract Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 450, 300 ] }, { "parameters": { "conditions": { "conditions": [ { "leftValue": "={{ $json.has_voice }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } } ] } }, "id": "if-voice", "name": "Is Voice?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [ 700, 300 ] }, { "parameters": { "jsCode": "return [{\n json: {\n ...$json,\n transcript: '[VOICE TRANSCRIPT HERE]',\n raw_text: '[VOICE TRANSCRIPT HERE]'\n }\n}];" }, "id": "voice-placeholder", "name": "Voice Placeholder", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 950, 150 ] }, { "parameters": { "jsCode": "return [{ json: { ...$json, transcript: $json.text } }];" }, "id": "text-mode", "name": "Text Mode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 950, 450 ] }, { "parameters": { "jsCode": "const transcript = $json.transcript;\n\nconst systemPrompt = `Ти AI parser.\n\nПоверни ТІЛЬКИ JSON.\nБез markdown.\nБез пояснень.\n\nФормат:\n{\n \"type\":\"expense|task|meeting|reminder|note\",\n \"title\":\"string\",\n \"amount\":number|null,\n \"currency\":\"UAH|USD|EUR|null\",\n \"person\":\"string|null\",\n \"project\":\"string|null\",\n \"event_datetime\":\"ISO8601|null\",\n \"due_datetime\":\"ISO8601|null\",\n \"status\":\"open|done|scheduled\",\n \"metadata\":{}\n}`;\n\nreturn [{\n json: {\n ...$json,\n requestBody: {\n model: 'openai/gpt-4o-mini',\n temperature: 0.1,\n messages: [\n {\n role: 'system',\n content: systemPrompt\n },\n {\n role: 'user',\n content: transcript\n }\n ]\n }\n }\n}];" }, "id": "prepare-openrouter", "name": "Prepare OpenRouter", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 1200, 300 ] }, { "parameters": { "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{$env.OPENROUTER_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.requestBody) }}" }, "id": "openrouter", "name": "OpenRouter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [ 1450, 300 ] }, { "parameters": { "jsCode": "const response = $json;\nconst original = $('Prepare OpenRouter').first().json;\n\ntry {\n\n const content = response.choices[0].message.content;\n const parsed = JSON.parse(content);\n\n return [{\n json: {\n success: true,\n parsed,\n original\n }\n }];\n\n} catch (e) {\n\n return [{\n json: {\n success: false,\n error: e.message,\n original\n }\n }];\n\n}" }, "id": "parse-json", "name": "Parse JSON", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 1700, 300 ] }, { "parameters": { "conditions": { "conditions": [ { "leftValue": "={{ $json.success }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } } ] } }, "id": "if-valid", "name": "Valid JSON?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [ 1950, 300 ] }, { "parameters": { "method": "POST", "url": "={{$env.SUPABASE_URL}}/rest/v1/events", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{$env.SUPABASE_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ type: $json.parsed.type, title: $json.parsed.title, amount: $json.parsed.amount || null, currency: $json.parsed.currency || null, person: $json.parsed.person || null, project: $json.parsed.project || null, event_datetime: $json.parsed.event_datetime || null, due_datetime: $json.parsed.due_datetime || null, status: $json.parsed.status || 'open', metadata: $json.parsed.metadata || {}, raw_text: $json.original.raw_text, transcript: $json.original.transcript, telegram_chat_id: $json.original.telegram_chat_id, telegram_message_id: $json.original.telegram_message_id, audio_file_id: $json.original.voice_file_id, source: 'telegram', source_type: $json.original.source_type }) }}" }, "id": "save-event", "name": "Save Event", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [ 2200, 220 ] }, { "parameters": { "jsCode": "const parsed = $('Parse JSON').first().json.parsed;\nconst original = $('Parse JSON').first().json.original;\n\nreturn [{\n json: {\n telegram_chat_id: original.telegram_chat_id,\n text: `✅ Подію збережено\\n\\nТип: ${parsed.type}\\nНазва: ${parsed.title}`\n }\n}];" }, "id": "success-message", "name": "Success Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 2450, 220 ] }, { "parameters": { "resource": "message", "operation": "sendMessage", "chatId": "={{ $json.telegram_chat_id }}", "text": "={{ $json.text }}" }, "id": "telegram-success", "name": "Telegram Success", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [ 2700, 220 ], "credentials": { "telegramApi": { "id": "telegram_api", "name": "Telegram API" } } }, { "parameters": { "resource": "message", "operation": "sendMessage", "chatId": "={{ $json.original.telegram_chat_id }}", "text": "❌ Помилка обробки повідомлення" }, "id": "telegram-error", "name": "Telegram Error", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [ 2200, 450 ], "credentials": { "telegramApi": { "id": "telegram_api", "name": "Telegram API" } } } ], "connections": { "Telegram Trigger": { "main": [ [ { "node": "Extract Message", "type": "main", "index": 0 } ] ] }, "Extract Message": { "main": [ [ { "node": "Is Voice?", "type": "main", "index": 0 } ] ] }, "Is Voice?": { "main": [ [ { "node": "Voice Placeholder", "type": "main", "index": 0 } ], [ { "node": "Text Mode", "type": "main", "index": 0 } ] ] }, "Voice Placeholder": { "main": [ [ { "node": "Prepare OpenRouter", "type": "main", "index": 0 } ] ] }, "Text Mode": { "main": [ [ { "node": "Prepare OpenRouter", "type": "main", "index": 0 } ] ] }, "Prepare OpenRouter": { "main": [ [ { "node": "OpenRouter", "type": "main", "index": 0 } ] ] }, "OpenRouter": { "main": [ [ { "node": "Parse JSON", "type": "main", "index": 0 } ] ] }, "Parse JSON": { "main": [ [ { "node": "Valid JSON?", "type": "main", "index": 0 } ] ] }, "Valid JSON?": { "main": [ [ { "node": "Save Event", "type": "main", "index": 0 } ], [ { "node": "Telegram Error", "type": "main", "index": 0 } ] ] }, "Save Event": { "main": [ [ { "node": "Success Message", "type": "main", "index": 0 } ] ] }, "Success Message": { "main": [ [ { "node": "Telegram Success", "type": "main", "index": 0 } ] ] } } }
