download/CALENDAR - Sub Workflow.json
{
  "name": "CALENDAR - Sub Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -900,
        100
      ],
      "id": "exec-trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {}
      },
      "id": "cal-openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -680,
        260
      ],
      "credentials": {
        "openAiApi": {
          "id": "openrouter_api",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nТи асистент календаря. Твої обов'язки включають створення, отримання, оновлення та видалення подій у календарі користувача.\n\n## Інструменти управління календарем\n- **Create Event with Attendee** — Використовуй, коли подія включає іншого учасника (є email).\n- **Create Event** — Використовуй для подій без інших учасників та нагадувань.\n- **Get Events** — Використовуй для отримання розкладу та подій з календаря.\n- **Delete Event** — Використовуй для видалення події. Спочатку обов'язково виклич Get Events, щоб отримати ID події.\n- **Update Event** — Використовуй для оновлення події. Спочатку обов'язково виклич Get Events, щоб отримати ID події.\n\n## Правила використання інструментів\n1. Для простих розмовних повідомлень (наприклад: 'привіт', 'як справи', 'дякую') НЕ викликай жодних інструментів. Просто відповідай самостійно текстовим повідомленням українською мовою.\n2. Викликай інструменти створення/зміни подій ТІЛЬКИ тоді, коли користувач прямо дає вказівку запланувати, змінити або видалити подію.\n3. Якщо користувач запитує про розклад, спочатку виклич Get Events.\n4. Якщо тривалість події не вказана, за замовчуванням встановлюй 1 годину.\n5. Для нагадувань створюй коротку подію тривалістю 5 хвилин із текстом нагадування у полі Summary.\n6. Відповідай українською мовою, коротко і по суті.\n\n## Поточний час\nПоточна дата і час: {{ $now }}"
        }
      },
      "id": "cal-agent",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -660,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -640,
        500
      ],
      "id": "get-events",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google_calendar_oauth2",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}",
          "reminders": {
            "useDefault": false,
            "overrides": [
              {
                "method": "popup",
                "minutes": 30
              },
              {
                "method": "popup",
                "minutes": 10
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -520,
        500
      ],
      "id": "create-event",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google_calendar_oauth2",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}",
          "reminders": {
            "useDefault": false,
            "overrides": [
              {
                "method": "popup",
                "minutes": 30
              },
              {
                "method": "popup",
                "minutes": 10
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -380,
        500
      ],
      "id": "create-event-attendee",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google_calendar_oauth2",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -240,
        500
      ],
      "id": "update-event",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google_calendar_oauth2",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -120,
        500
      ],
      "id": "delete-event",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google_calendar_oauth2",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "response",
              "value": "Unable to perform calendar action. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "try-again",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "tags": []
}